{% extends 'app_warbler/base.html' %}

{% block content %}

    <button type="button">
     <a href="{% url 'create-message' profile.user_id %}">Send message to this user</a>
    </button>

    <h4>{{ profile.user.username }}</h4>
    {% if profile.user.id == user.id %}
        <button type="button">
            <a href="{% url 'delete-user' profile.user.id %}">Delete profile</a>
        </button>
    {% endif %}
    {{ profile.user.first_name }}{{ profile.user.last_name }}
    <p>{{ profile.user.email }}</p>
    <p>About myself: {{ profile.about_myself }}</p>
    <p>My Tweets:</p>
    {% for tweet in tweets %}
        <p>
            {{ tweet.creation_datetime }}
            {{ tweet.update_datetime }}
            <a href="{% url 'tweet-details' tweet.id %}">{{ tweet.tweet_content }}</a>
        </p>
    {% endfor %}

{% endblock content %}
