{% extends 'app_warbler/base.html' %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <h5>{{ tweet.author }}</h5>
    {{ tweet.update_datetime }}
    {{ tweet.content }}
    {% if tweet.author.id == user.id %}
        <a href="{% url 'update-tweet' tweet.id %}">Edit</a>
    {% endif %}
{% endblock content %}
