{% extends 'app_warbler/base.html' %}

{% block content %}

    <h3>User {{ user.username }} messages:</h3>

    {% for msg in message_list %}
        <p {% if not msg.is_read %}style="font-weight: bolder; text-decoration: underline"{% endif %}>
            <a href="{% url 'profile-details' msg.from_user_id %}">{{ msg.from_user }}</a>
            <a href="{% url 'profile-details' msg.to_user_id %}">{{ msg.to_user }}</a>
            {{ msg.creation_datetime }}
            <a href="{% url 'msg-details' msg.pk %}">{{ msg.message_content|slice:":10" }}...</a>
        </p>
    {% endfor %}

{% endblock content %}
